body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #e5f3f1;
  text-align: center;
}

div {
  padding-top: 10px;
}

footer {
  background: #7bd1c4;
  width: 100vw;
}

#app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}